:root {
  --primary-color: #EA5501;
  --secondary-color: #34DDFE;
  --text-color: #000;
  --background-color: #fff;
  --theme-green: #54BC34;
  --theme-grey: rgb(235,235,235);
  --line-height: 16px;
  --text-size: 12px;
  --header-size: 25px;
  --theme-red: rgb(194, 9, 9);
}



