@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  // Colors
  // Base Colors
  --primary-color: #2c3e50;
  --secondary-color: #7f8c8d;
  --background-color: #f9f9f9;
  --text-color: #333333;
  --highlight-color: #3498db;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --border-color: #bdc3c7;
  --placeholder-text: #c8d6e5;
  // Font
  --font-family: "Roboto", sans-serif;

  // Font sizes
  --font-size-base: 16px;
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
