form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 30px;
  padding: 20px;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    span {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid 2px #fff;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 70%;
  height: 50px;
  font-weight: bold;
}

/* Additional styles */
input::placeholder {
  color: #888;
}
.googleAuth {
  border: solid 2px #fff;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  div {
    border-radius: inherit;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    width: 100%;
  }
}
