.landing-page {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  height: 100%;
  .header,
  .footer {
    padding: 1rem;
  }

  .footer {
    background-color: var(--secondary-color);
    text-align: center;
  }
  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 40px;
    width: 100%;

    img {
      width: 50%;
      border-radius: 4px;
    }

    .title {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }

    .btn-start {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    h1 {
      display: flex;
      align-items: center;
      gap:  10px;
      img {
        max-width: 5%;
        max-height: 5%;
        width: 5%;
        height: 5%;
        display: inline;
        border-radius: 50%;
      }
    }
    nav {
      ul {
        list-style-type: none;
        padding: 0;
        gap: 1rem;
        display: flex;
        align-items: center;
        .login-link {
          background-color: var(--highlight-color);
          padding: 0.5em;
          border-radius: 4px;
        }
        .signup-link {
          background-color: var(--primary-color);
          padding: 0.5em;
          border-radius: 4px;
          a {
            color: var(--background-color);
          }
        }
        li {
          a {
            color: var(--text-color);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .content {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .content-body-section {
      display: flex;
      justify-content: space-between;

      &-articles {
        width: calc(100% - 480px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
      }
      &-more-articles {
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        gap: 20px;
        padding: 1em;
        div {
          display: grid;
          place-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          padding: 10px;
          span {
            background-color: var(--secondary-color);
            border-radius: 4px;
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
